<ion-content 
  [fullscreen]="true"
  color="warning"
  class="ion-padding"
>
<ion-button (click)="onClick()" expand="block">
  Go Home
</ion-button>

  <form 
    [formGroup]="formularioSendEmail"
    autocomplete="off"
  >
    <ion-label position="floating">Ingresá la direccion de correo</ion-label>
    <ion-input type="email" placeholder="example@example.com" formControlName="email"></ion-input>

    <textarea cols="120" rows="10" formControlName="contenido"></textarea>
  
    <ion-button (click)="sendEmail()" type="submit">
      <ion-icon slot="start" name="send"></ion-icon>
      Enviar
    </ion-button>

  </form>

</ion-content>
