
h1 {
    text-align: center;
    margin: 2em;
    color: black;
    font-size: 1.5rem;
}
ion-card {
    padding: 10px;
    border: none;
    border-radius: 10px;
    align-self: center;
}
button {
    background-color: black !important;
    color: #ffc409 !important;
}